{{#if event}}
<div class="ml-5 mr-2">
  <div><h2> {{event.name}}</h2></div>
  <div class="d-flex justify-content-end">
    <button class="back-to-events">Back to Events</button>
  </div> <br>
    <img src="{{event.image}}" style="max-width:60vw; margin:1rem">
    <p>
      <b>Date:</b> {{event.date}}<br>
      <b>Location:</b> {{event.location}}<br>
      <b>Host:</b> {{event.owner}}<br>
      <b>Description:</b> {{event.description}}<br>
      {{#if user}}
        <button class="btn btn-primary attending" data-attendee="{{store.user.id}}">RSVP to this event</button>
      {{else}}
      <p> Want to come to this event? Sign in and enjoy the fun!</a>
      {{/if}}
    </p>
  </div>
</div>
{{/if}}
